@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700|Raleway:300,400,700,900&subset=latin-ext');

/* font-family: 'Raleway', sans-serif;
font-family: 'Cabin', sans-serif; */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}