.wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../../assets/intro-img.jpg) no-repeat 50% 50% transparent;
    background-size: cover;
    display: flex;
    align-content: center;
    align-items: center;
}

.intro {
    text-shadow: 0 0 2px #000;
    margin-left: 50px;

    &Img {
        display: block;
        width: auto;
        max-width: 100%;
        height: auto;
    }

    &Title {
        margin: 0;
        color: #fff;
        font-family: 'Cabin', sans-serif;
        font-size: 50px;
        font-weight: 700;
        @media screen and (max-width: 760px) {
        }
    }

    &Txt {
        color: #fff;
        font-size: 20px;
        @media screen and (max-width: 760px) {
        }
    }

    @media screen and (max-width: 760px) {
        position: static;
        left: auto;
        bottom: auto;
        text-shadow: none;
        margin: 0;
        padding: 10px;
    }

}