.wrapper {
    margin: 0;
    padding: 0;
}

.navItem {
    list-style: none;
    display: inline-block;
    margin-right: 50px;

    @media screen and (max-width: 760px) {
        display: block;
    }

    &Link {
        color: #fff;
        text-decoration: none;

        &Active {
            font-weight: 700;
        }

        &::after {
            content: '.';
            color: #db0f0f;
            margin-left: 5px;
            font-weight: 700;
        }
    }
}