.wrapper {
    display: grid;
    grid-template-columns: 1fr 250px;
    padding: 10px 50px;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;

    p {
        text-align: right;
    }

    @media screen and (max-width: 760px) {
        padding: 10px;
        grid-template-columns: 1fr;
        
        p {
            text-align: left;
        }
    }
}

.darkWrapper {
    @extend .wrapper;
    background: #000;
}

.logo {
    display: inline-flex;
    max-width: 160px;
    height: auto;
}