.wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 700;
    font-size: 20px;
    color: #000;
    
    a {
        color: #000;
        text-decoration: none;
        margin-left: 10px;
    }

}

.wrapperDark {
    @extend .wrapper;
    color: #fff;
    a {
        color: #fff;
    }
}

.clickToShow {
    display: none;
}

.clickToShowButton {
    cursor: pointer;
    margin-left: 10px;
}

.showbtn {
    margin-left: 10px;
    text-decoration: underline;
    font-size: 10px;
}