.wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: right;
    padding: 0 20px;
    font-weight: 900;

    @media (max-width: 768px) {
        background: #fff;
        box-shadow: 0 0 10px #000;
    }
}

.link {
    color: #000;
    text-decoration: none;
    margin-left: 20px;

    &:hover {
        color: rgba(0,0,0,0.5);
    }
}